body{
    background: #000;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}