@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
header {
  background: #2f2f30;
  padding: 14px 0;
}
header nav {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .Logo-name a {
  font-size: 28px;
  font-weight: 600;
  color: #f5f6fa;
}
header nav .search-bar {
  width: 400px;
  padding: 11px 15px;
  background: #4b4b4b;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
}
header nav .search-bar:hover {
  background: #57606f;
}
header nav .search-bar i {
  font-size: 20px;
}
header nav .search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  background: transparent;
  color: var(--text-color);
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
header nav .search-bar input ::-moz-placeholder {
  font-size: 15px;
  color: red;
}
header nav .search-bar input ::placeholder {
  font-size: 15px;
  color: red;
}
header nav .header-logo ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
header nav .header-logo ul li {
  position: relative;
}
header nav .header-logo ul li .fb-message {
  width: 320px;
  height: 90vh;
  background: #2f2f30;
  position: absolute;
  overflow: auto;
  top: 55px;
  right: -140px;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
}
header nav .header-logo ul li .fb-message.activemsg {
  opacity: 1;
  visibility: visible;
}
header nav .header-logo ul li .fb-message .msg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .header-logo ul li .fb-message .msg-header .item h3 {
  font-size: 25px;
}
header nav .header-logo ul li .fb-message .msg-header .item ul li {
  cursor: pointer;
}
header nav .header-logo ul li .fb-message .msg-header .item ul i {
  font-size: 20px;
}
header nav .header-logo ul li .fb-message .msg-search {
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background: #4b4b4b;
}
header nav .header-logo ul li .fb-message .msg-search i {
  font-size: 20px;
  margin-right: 10px;
}
header nav .header-logo ul li .fb-message .msg-search input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--text-color);
  font-size: 16px;
}
header nav .header-logo ul li .fb-message .chat-info {
  display: inline-flex;
  gap: 1rem;
  margin: 7px 0;
}
header nav .header-logo ul li .fb-message .chat-info .btn {
  border: 0;
  padding: 10px 12px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}
header nav .header-logo ul li .fb-message .chat-info .chat-btn-inbox {
  background: #2f2f30;
  color: var(--text-color);
  transition: 0.3s all ease;
}
header nav .header-logo ul li .fb-message .chat-info .chat-btn-inbox:hover {
  background: var(--other-color);
  color: var(--hover-color);
}
header nav .header-logo ul li .fb-message .chat-info .chat-btn-comn {
  background: transparent;
  color: var(--text-color);
  transition: 0.3s all ease;
}
header nav .header-logo ul li .fb-message .chat-info .chat-btn-comn:hover {
  background: var(--other-color);
  color: var(--hover-color);
}
header nav .header-logo ul li .fb-message .chat {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px 0;
  gap: 0.9rem;
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 10px;
}
header nav .header-logo ul li .fb-message .chat .user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .header-logo ul li .fb-message .chat .user-info h4 {
  font-size: 15px;
}
header nav .header-logo ul li .fb-message .chat .user-info p {
  font-size: 10px;
  color: #f7f1e3;
}
header nav .header-logo ul li .fb-message .chat .more {
  position: absolute;
  right: 30px;
  opacity: 0;
  visibility: hidden;
}
header nav .header-logo ul li .fb-message .chat .more i {
  font-size: 25px;
}
header nav .header-logo ul li .fb-message .chat:hover {
  background: #57606f;
}
header nav .header-logo ul li .fb-message .chat:hover .more {
  opacity: 1;
  visibility: visible;
}
header nav .header-logo ul li .icons {
  background: #4b4b4b;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 23px;
  transition: 0.3s all ease;
}
header nav .header-logo ul li .icons:hover {
  background: #485460;
  color: var(--hover-color);
}
header nav .header-logo ul li .admin-logo {
  position: relative;
  cursor: pointer;
}
header nav .header-logo ul li .admin-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: 2px solid #ffffff;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .header-logo ul li .admin-logo i {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9999;
  border-radius: 50%;
  background: red;
}
header nav .header-logo ul li .notification-main {
  width: 370px;
  height: 90vh;
  background: #2f2f30;
  position: absolute;
  overflow: auto;
  top: 55px;
  right: -90px;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
}
header nav .header-logo ul li .notification-main.shownoti {
  opacity: 1;
  visibility: visible;
}
header nav .header-logo ul li .notification-main .notification-header, header nav .header-logo ul li .notification-main .notification-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .header-logo ul li .notification-main .notification-header .hd-item i, header nav .header-logo ul li .notification-main .notification-note .hd-item i {
  font-size: 23px;
}
header nav .header-logo ul li .notification-main .hd-info {
  display: inline-flex;
  gap: 1rem;
  margin: 7px 0;
}
header nav .header-logo ul li .notification-main .hd-info .btn {
  border: 0;
  padding: 10px 12px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}
header nav .header-logo ul li .notification-main .hd-info .hd-btn-all {
  background: #2f2f30;
  color: var(--text-color);
  transition: 0.3s all ease;
}
header nav .header-logo ul li .notification-main .hd-info .hd-btn-all:hover {
  background: var(--other-color);
  color: var(--hover-color);
}
header nav .header-logo ul li .notification-main .hd-info .hd-btn-unread {
  background: transparent;
  color: var(--text-color);
  transition: 0.3s all ease;
}
header nav .header-logo ul li .notification-main .hd-info .hd-btn-unread:hover {
  background: var(--other-color);
  color: var(--hover-color);
}
header nav .header-logo ul li .notification-main .notification-note .hd-item a {
  color: #1e90ff;
}
header nav .header-logo ul li .notification-main .notification-notice {
  display: flex;
  gap: 1rem;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s all ease;
}
header nav .header-logo ul li .notification-main .notification-notice .item .img-thumb {
  position: relative;
}
header nav .header-logo ul li .notification-main .notification-notice .item .img-thumb img {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  outline: 1.5px solid red;
}
header nav .header-logo ul li .notification-main .notification-notice .item .img-thumb i {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
  background: #2ed573;
  border-radius: 50%;
}
header nav .header-logo ul li .notification-main .notification-notice .item p {
  font-size: 14px;
  align-items: center;
}
header nav .header-logo ul li .notification-main .notification-notice .item span {
  font-weight: 600;
}
header nav .header-logo ul li .notification-main .notification-notice .item small {
  font-size: 12px;
  color: #1e90ff;
}
header nav .header-logo ul li .notification-main .notification-notice .more {
  width: 30px;
  height: 30px;
  background: #1e272e;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: 0;
  top: 35%;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
}
header nav .header-logo ul li .notification-main .notification-notice:hover .more {
  opacity: 1;
  visibility: visible;
}
header nav .header-logo ul li .notification-main .notification-notice:hover {
  background: #485460;
}

:root {
  --bg-color: #353b48;
  --text-color: #ffffff;
  --other-color: #00a8ff;
  --hover-color: #c23616;
  --hovertxt-color: #487eb0;
}

body {
  background: #000;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=style.css.map */